# 1. Recommender system

### 1.1 - Movielens full - EDA
Nu ska du ladda ned datasetet ml-latest.zip under sektionen "recommended for education and
development". Läs in dataseten "movies.csv" och "ratings.csv" besvara på följande frågorna neda

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# movie and rating csv file path
movies = "../Labb/data/movies.csv"
ratings = "../Labb/data/ratings.csv"

# create a data frame for movies and ratings
df_movies = pd.read_csv(
    movies, dtype={"movieId": "int32", "title": "str", "genres": "str"}
)
df_ratings = pd.read_csv(
    ratings,
    dtype={
        "userId": "int32",
        "movieId": "int32",
        "rating": "float32",
        "timestamp": "int32",
    },
)
df_movies.head()

In [ ]:
df_ratings.head()

In [ ]:
df_movies.shape,df_ratings.shape

#### a) Gör en EDA för att förstå datasetet. Inkludera olika slags plots. Begränsa dig inte till frågorna nedan,utan försök undersöka fler aspekter av datan.

In [ ]:
df_movies.info() # 3 columns, 58098 rows

In [ ]:
df_movies.isnull().sum() # No missing values

In [ ]:
# check for duplicates for movies data
duplicates=df_movies.duplicated().sum()
print('Number of duplicates rows : ',duplicates)

In [ ]:
df_movies.describe().T # print the summary of statistics

In [ ]:
# print total number of generes present in movies data
generes=df_movies['genres'].nunique()
print('The number of unique genres : ', generes)

###  Plot the movies genres frequency

- To get each genres count we have to split that each genes in all column. 
- Make a list for those columns.
- Separete each genres from the list and count it.

In [ ]:
df_movies['genres'].head() # geners with | so we have to split

In [ ]:
df_genres_list =df_movies['genres'].str.split('|') # spilt generes using str.split()
df_genres_list

In [ ]:
movies = [name for genres in df_genres_list for name in genres] # list the each genres from df_genereslist

In [ ]:
# list' object has no attribute 'value_count'-> so we need to convert list to pd.Series
movies_gen = pd.Series(movies).value_counts()
movies_gen

In [ ]:
# To plot the movies genres using bar plot

movies_gen.plot(
    kind="barh",
    xlabel="Frequency",
    ylabel="Genres",
    title="Movie Genres Frequency",
    color=["violet","orange","green","red","grey","purple","darkred","blue"],
)
plt.show()

In [ ]:
df_ratings.info() # 4 columns, 27753444 rows

In [ ]:
df_ratings.isnull().sum() # No missing values

In [ ]:
# check for duplicates for movies data
duplicates_rating=df_ratings.duplicated().sum()
print('Number of duplicates rows : ',duplicates_rating)

In [ ]:
df_ratings.describe().T # print summary of Statistics

In [ ]:
num_userId=df_ratings['userId'].nunique()
print('The number of unique users:', num_userId)

### Plot the distribution of ratings

In [ ]:
# plot distribution of rating using histogram
df_ratings['rating'].hist()
plt.xlabel('Rating')
plt.ylabel('Frequency')
plt.title('Distribution of Ratings')
plt.show()

In [ ]:
# Group the ratings by movie title and calculate the average rating for each movie
df_movie_ratings = df_ratings.groupby('movieId')['rating'].agg(['mean', 'count']).round()
df_movie_ratings.head()

In [ ]:
# Convert timestamp colun to tim data format
df_ratings['timestamp']=pd.to_datetime(df_ratings['timestamp'], unit='s')
df_ratings.head()

In [ ]:
# create a new column to extrat year from timestap
df_ratings['year']=df_ratings['timestamp'].dt.year
df_ratings.head()

In [ ]:
# To plot number  and average of ratings given by user in years
ratings_year=df_ratings.groupby('year')['rating'].count()
avg_rating_year=df_ratings.groupby('year')['rating'].mean()

# Plot the number of ratings per year
fig,ax= plt.subplots(1,2,figsize=(12,6))
ax[0].plot(ratings_year.index, ratings_year.values)
ax[0].set_xlabel('Year')
ax[0].set_ylabel('Number of Ratings')
ax[0].set_title('Number of Ratings per Year')

# Plot the average rating per year
ax[1].plot(avg_rating_year.index, avg_rating_year.values)
ax[1].set_xlabel('Year')
ax[1].set_ylabel('Average Rating')
ax[1].set_title('Average Rating per Year')

# Display the plot
plt.show()

### b) Vilka är de 10 filmerna med flest ratings?

In [ ]:
# calculate the top 10 movies with most ratings
top10_movies_rating =df_ratings.groupby(by = 'movieId')['rating'].count().sort_values(ascending=False).head(10) 
print('Top 10 movie most rating are:' )
top10_movies_rating

### c) Beräkna den genomsnittliga ratingen för dessa 10 filmerna med flest ratings.

In [ ]:
# check the data for only top 10 movies with most ratings 
top_10_ratings = df_ratings.query('movieId in @top10_movies_rating.index ')
top_10_ratings

In [ ]:
# caluclate the average mean value for those top 10 movies rating
top_10_mean_ratings = top_10_ratings.groupby('movieId')['rating'].mean()

print('The average mean value for top 10 movies rating are :')
round(top_10_mean_ratings,1)

### d) Gör en plot över årtal och antalet filmer representerade i datasetet.

In [ ]:
df_movies.head()

In [ ]:
# extract the year from the title column
df_movies['year'] = df_movies['title'].str.extract(r'\((\d{4})\)')
df_movies.head()

In [ ]:
# to remove year from the title colum
df_movies['title'] = df_movies['title'].str.replace(r'\(\d{4}\)', '', regex=True)
df_movies.head()

In [ ]:
df_movies.info()

In [ ]:
df_movies =df_movies.dropna()
df_movies

In [ ]:
# Convert year column to int
df_movies['year']= df_movies['year'].astype(int)
df_movies.info()

In [ ]:
# count the number of movies per year
df_movies_per_year = df_movies.groupby(by='year')['movieId'].count()
df_movies_per_year

In [ ]:

# Plot graphically
df_movies_per_year.plot(
    kind="line",
    xlabel="Year",
    ylabel="Number of movies",
    title="Number of movies per year",
    legend=False,figsize=(8, 6)
);

In [ ]:
# split the title and year to separte column
#df_movies[['title', 'year']] = df_movies['title'].str.split('(', n=1, expand=True) # https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html
#df_movies.head(10)

In [ ]:
#df_movies['year']= df_movies['year'].str.strip(')') # to remove ')' in year column
#df_movies.head()

In [ ]:
#df_movies_per_year1 = df_movies.groupby(by='year')['movieId'].count()
#df_movies_per_year1

### e) Gör en plot över antalet ratings mot movieId.

In [ ]:
df_ratings.head()

In [ ]:
number_of_ratings = df_ratings.groupby(by='movieId')['rating'].count().reset_index()
number_of_ratings

In [ ]:

# Plot graphically
number_of_ratings.plot(
    kind="scatter",x="movieId",y="rating",
    xlabel="MovieId",
    ylabel="Number of ratings",
    title="Number of ratings vs movieId",
    legend=False,figsize=(8, 6)
);

### f) Beräkna genomsnittliga ratings för de top 10 filmerna med flest ratings. Gör ett stapeldiagram över dessa.

In [ ]:
# top 10 movies with most ratings
top_10 = number_of_ratings.nlargest(10,columns='rating')
top_10

In [ ]:
# To get movie names merge data
top_10_movie_title= pd.merge(top_10, df_movies, on='movieId')
top_10_movie_title

In [ ]:
# check the data for only top 10 movies with most ratings 
top_10_ratings = df_ratings.query('movieId in @top_10_movie_title["movieId"]')
top_10_ratings

In [ ]:
top_10_movie_title_ratings_avg= top_10_ratings.groupby(by='movieId')['rating'].mean()
round(top_10_movie_title_ratings_avg)

In [ ]:
ax=top_10_movie_title_ratings_avg.plot(
    kind="bar",
    stacked=True,
    xlabel=" Movie title",
    ylabel="Average rating",
    title="Average ratings for top 10 movies with most ratings",
    figsize=(10, 6)
)
# Set the x-axis labels to the movie titles
ax.set_xticklabels(top_10_movie_title['title'])
plt.show()

### 1.2 Skapa gles matris
Likt i videon i uppgift 1.0 skapade du en pivottabell av dataframet med index: "movieId", columns: "userId"
och values: "ratings". Denna pivottabell är dock "dyr" att skapa och förmodligen kommer inte din dator att
klara av skapa den om du inte filtrerar bort viss data. Fundera ut ett lämpligt sätt att filtrera ditt dataset,
pröva dig fram och motivera.
Skapa en gles (sparse) matris av denna pivottabell mha scipy.sparse.csc_matrix().

- To filter the data we will consider the top 1000 movies with most ratings which are more or equal to 3.5 rating.
  - firstly group moveid and count number of ratings of each movie
  - then take only top 1000 movies rating
  - fiter the ratings of those 1000 movies
  - and then select only movies with 3.5 or more ratings from fitered ratings.

In [ ]:
df_movies.info()

To filter out the data
- Remove the movies before 1990 as many prefer latest movies
- Latest unique movies are consider
- For latest movies which has more then 3 rating are consider as user prefer to watch 3 ratings more 
- Only movies with at least 500 ratings are considered.
- From this filtered data, only users who have rated at least 50 movies are included.

In [ ]:
# latest movies with their unique movies
recent_movies = df_movies.query('year >= 1990')['movieId'].unique()
recent_movies

In [ ]:
# filters the ratings dataframe to keep only ratings for the latest movies
latest_movie_ratings = df_ratings.query('movieId in @recent_movies')

latest_movie_ratings

In [ ]:
# filters the movies with rating  3 above
high_ratings = latest_movie_ratings.query('rating >= 3')
high_ratings

To filter the movies which have less than 50 ratings

In [ ]:
#count the total movie ratings
ratings_count = high_ratings.groupby('movieId')['rating'].count().reset_index()
ratings_count.head()

In [ ]:
# filter the movies which has below 50 rating
more_ratings= ratings_count.query('rating >= 50')
more_ratings.head()

In [ ]:
# movieIds which are having more than are equal to 10 ratings
filter_ratings = high_ratings.query('movieId in @more_ratings.index')
filter_ratings

To filter the users who have given more than or equal to 50 ratings

In [ ]:
# count the total number of ratings given by user
#user_count = high_ratings.groupby('userId')['rating'].count().reset_index()
#user_count.head()

In [ ]:
# user given more than or equal 50 rating
#more_count=user_count.query('rating >= 10')
#more_count.head(3)

In [ ]:
#filter_ratings=high_ratings.query('userId in @ more_count.index')
#filter_ratings.head(3)

In [ ]:
print('Filtered movie data size:',filter_ratings.shape)

In [ ]:
filter_ratings = filter_ratings.drop(['timestamp','year'], axis=1)
filter_ratings.head()

In [ ]:
# Create a pivot table with the filtered ratings
movies_users = filter_ratings.pivot_table(index='movieId', columns='userId', values='rating').fillna(0)
movies_users

In [ ]:
from scipy.sparse import csr_matrix 

# convert pivot table to spare matrix
sparse_mat_movies_users = csr_matrix(movies_users.values)

In [ ]:
df_movies.shape

In [ ]:
# To set the correct index of movieId for both pivot table and df_movies
df_movies_ratings = df_movies.query('movieId in @filter_ratings.movieId').reset_index(drop=True)
df_movies_ratings

### 1.3 Recommender system
Skapa ett recommender system med KNN och låt systemet ta input från användaren och skriva ut top 5
rekommenderade filmerna, baserat på användarens sökquery. Observera att det finns ett logiskt fel i videon
som gör att rekommendationerna inte blir så bra, försök hitta felet och åtgärda det.
- a) Beskriv med ord hur ditt system fungerar.

In [ ]:
from sklearn.neighbors import NearestNeighbors
# Euclidean distance
# Manhattan distance
# MInkowski distance
# Cosine similarity

In [ ]:
from fuzzywuzzy import process

movie_name =input('Enter movie name:')

# Recommender(movie_name) -> List of Movies recommended
def recommender(movie_name):
    
    # KNN model with cosine similarity metric and brute force algorithm with number of neighbors is set to 6 because to including the input movie itself
    model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=6)

    # Fits the model to the sparse matrix of movie-user ratings
    model_knn.fit(sparse_mat_movies_users)

    ## Extracts the index of the input movie from the df_movies_ratings dataframe using fuzzywuzzy
    idx = process.extractOne(movie_name, df_movies_ratings['title'])[2]

    ## Prints the given input movie title and index
    print('Movie Selected:', df_movies_ratings['title'][idx], 'index:', idx)
    print('Searching for Recommendations.....')

    ## Searches for the 5 nearest neighbors using the KNN model
    indices = model_knn.kneighbors(sparse_mat_movies_users[idx], n_neighbors=6, return_distance=False)

     # Prints the recommended movie titles (excluding the input movie itself)
    for i in indices[0][1:]:
        print(df_movies_ratings['title'][i])



recommender(movie_name)

In [ ]:
recommender(movie_name)

- Noted that there was a logical error in the original code where the selected movie was being included in the list of recommended movies.

This recommender system uses KNN algorithm to print the top 5 recommended movies based on the input movie given by user.


Here the fuction defined as recommender which takes two parameters.
- movie_name: title of the movie given by user
- n_recommendation: number of recommendations, so we need for this system n=5

sparse matrix representing the userId-movieId rating matrix  and model is K-Nearest Neighbors model 

We use the process.extractOne function from the fuzzywuzzy package to find the closest matching movie title in the dataset and it should help to handle minor differences in spelling of title.

By using the KNN model, the distances and indices of the K-nearest neighbors of the selected movie are then calculated and we add 1 to the n_recommendation in kneighbors function because closest neigbour to the selected movie will be the movie itself which we want to exclude it.

Finally, the top 5 recommendations are printed by iterating through indices[0][1:] instead of just indices because we want to exclude the selected movie itself and then print their corresponding movie titles.

- b) Leta online och läs vidare om rekommenderarsystem och beskriv kort hur dem fungerar. Glöm inte
källhänvisa.